/* phoneBankingStyle.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color: #333;
}

.container, .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    color: #555;
    text-align: center; /* Center the headers */
}

.container #callButton {
    display: block;
    margin: 0 auto 30px; /* Center the button and add space below it */
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin: 10px 0;
    color: #555;
    text-align: left; /* Keep paragraph text aligned to the left */
}

select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: white;
}